body{
    background: linear-gradient(to top,#05411C 7.5%, #fff 100%) ;
    margin: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-family: Karla;
    height: 100%;
  }
  
  
  /*------top nav bar------
  includes: Profile icon, opens selector for "View Account", "Log out"
*/
.Top-Section
{
  position: relative;
  display: flex;
  background-color: #333;
  color:#0c9240;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  p{
    gap: 20px;
    text-align: center;
    position: absolute;
    font-size: 2.5rem;
    font-weight: 550;
    transform: translateX(-105%) translateY(-140%);
  }
  a{
    color: #0c9240;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-decoration: none;
    transform: translateY(-100%);
  }

  a:hover{ 
    background-color:#0c9240;
    color: black;
    
  }
  
}

  article>section{
    display: flex;
    flex-direction: row;
  }
  article{
    display: flex;
    flex-direction: column;
  }
  .about-image{
    height: 80vh;
    max-width: 70%;
    margin: 5vh 20px;
  }
  .about-text{
    margin:auto;
    max-width: 30%;
    h1{
      text-align: center;
    }
  }
  article h1{
    font-size:xx-large;
  }
  #keeping-it-simple{
    color:white;
  }
  @media (max-width: 768px) {
    article img{
      display:none;
    }
  }