body{
    margin: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-family: Karla;
    background: linear-gradient(to top,#05411C 7.5%, #fff 100%) ;
    height: 100vh;
}


/*------top nav bar------
  includes: Profile icon, opens selector for "View Account", "Log out"
*/
.Top-Section
{
  position: relative;
  display: flex;
  background-color: #333;
  color:#0c9240;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  p{
    gap: 20px;
    text-align: center;
    position: absolute;
    font-size: 2.5rem;
    font-weight: 550;
    transform: translateX(-105%) translateY(-140%);
  }
  a{
    color: #0c9240;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-decoration: none;
    transform: translateY(-100%);
  }

  a:hover{ 
    background-color:#0c9240;
    color: black;
    
  }
  
}



/*------Profile Page Styling------*/
.profile-page {
  
  margin-top: 10rem;
}
@media (max-width: 990px) {
  .profile-page {
    padding-top: 0;
  }
}
.profile-page .content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  position: relative;
  z-index: 2;
  margin: auto;
  padding: 2rem;
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
}

.profile-page .content__title {
  text-align: center;
  order: 1;
}

.profile-page .content__title h1 {
  margin-bottom: 0.1rem;
  font-size: 2.4rem;
}

.profile-page .content .UserInfo .header-cells
{
  height: 1rem;
  padding-left: 5px;

}



