<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/about.css">
    <script src="https://kit.fontawesome.com/d4b180fb45.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--Top Navigation bar for the pages-->
    <div class="Top-Section">
        <!--Need to add proper links to the pages-->
        <div class="Left-side">
            <a class="active" href="HomePage.html">
                Home
            </a>
            <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fnews.christianacare.org%2F2023%2F05%2Fthe-scoop-on-poop%2F&psig=AOvVaw2OkThjwIYaJKfYnQcTzmQH&ust=1707977043473000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCJCV7biUqoQDFQAAAAAdAAAAABAE">
                About
            </a>
        </div>
        <div class="Center-side">
            <p>Easy Budget</p>
        </div>
        <div div class="Right-side">
            <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fnews.christianacare.org%2F2023%2F05%2Fthe-scoop-on-poop%2F&psig=AOvVaw2OkThjwIYaJKfYnQcTzmQH&ust=1707977043473000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCJCV7biUqoQDFQAAAAAdAAAAABAE">
                Profile
            </a>
        </div>

    </div>
    <div class='content'>
        <article>
            <section>
                <div class='about-text'>
                    <h1>How it Started</h1>
                    <p>We began the project at the beginning of 2024 to create an online budgeting application. We kept the design simple, using a simple color scheme and keeping it easy to learn.</p>
                </div>
                <img class='about-image' src='/static/images/EBProject.jpg'/>
            </section>
            <section>
                <img class='about-image' src='/static/images/EBBudget.jpg'/>
                <div class='about-text'>
                    <h1>What is Easy Budget?</h1>
                    <p>Easy Budget is a budgeting application that lets you keep track of your financial accounts and goals, while providing overviews on their status. It lets you enter your financial accounts and transactions for each account. Then, it can show you a detailed list of your accounts and transactions, or it can give you simple summaries and statistics.</p>
                </div>
            </section>
            <section>
                <div class='about-text' id='keeping-it-simple'>
                    <h1>Keeping it Simple</h1>
                    <p>Easy Budget sticks to the basics: letting you record your information and displaying simple overviews and tables. It is easy to learn, use, and read - just log in and enter your transactions.</p>
                </div>
                <img class='about-image' src='/static/images/EBSimple.jpg'/>
            </section>
        </article>
    </div>

</body>




</html>