<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/addaccount.css">
    <title>New Account</title>
</head>
    <body>
        <section class="wrapper">
            <div class="login-main">
              

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="flashes">
                                {% for message in messages %}
                                    <li style="color: aliceblue;">{{ message | safe }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}

                    <form class="edit-form" action="{{ url_for('addaccount') }}" method="post">
                        <h2 class="login-main__header-1">Add New Account</h2>
                        <!-- Transaction Tag -->
                        <label for="addaccount">Account Name: </label>
                        <input class="edit-form__input"  type="text" id="addaccount" name="addaccount" required><br>

                        <!-- Submit Button -->
                        <div class="edit-form__button-menu">
                            <button class="edit-form__secondary-button" type="submit" name="action" value="delete">Reset</button>
                            <button class="edit-form__primary-button" type="submit">Submit</button>
                        </div>
                        
                    </form>
                    {% if new_acct_error %}
                            <p style="color: red;">{{ new_acct_error }}</p>
                    {% endif %}
            </div>
        </section>

    </body>
</html>