<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>EditProfile</title>
        <link rel="stylesheet" href="../static/css/EditProfile.css">
        <script src="https://kit.fontawesome.com/d4b180fb45.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    </head>



    <body>
            <!------Profile section------>
        <div class="profile-page">
            <div class="content">            
                <div class="content-title">
                    <h1>Edit Profile</h1>
                    
                </div>
                
                <div class="edit-main">
                    <form class="edit-form" action="#" method="post">
                        <div class="edit-form__name">
                            <label class="edit-form__label" for="name">Name</label>
                            <input
                                title=""
                                placeholder={{user.name}}
                                class="edit-form__input"
                                type="text"
                                name="name"
                            />
                        </div>
                        <div class="edit-form__email">
                            <label class="edit-form__label" for="email">Email</label>
                            <input
                                title=""
                                placeholder={{user.email}}
                                class="edit-form__input"
                                type="email"
                                name="email"
                                required/>
                        </div>
                        <div class="edit-form__birthday">
                            <label class="edit-form__label" for="birthday">Birthday </label>
                            <input
                                class="birthday-input"
                                title=""
                                placeholder=mmddyyyy
                                class="edit-form__input"
                                type="text"
                                name="birthday"
                                pattern="\d{1,2}\d{1,2}\d{4}"
                                >
                        </div>
                        <div class="edit-form__gender">
                            <label class="edit-form__label" for="gender">Gender</label>
                            <input
                                class="gender-input"
                                title=""
                                placeholder={{user.gender}}
                                class="edit-form__input"
                                type="text"
                                name="gender"
                                >
                        </div>
                        <div class="buttons">
                            <a href="/profile"> <button class="cancel" >cancel</button> </a>
                             <button type="submit" class="save" value="Submit" >
                                save
                            </button>
                             
                         </div>
                    </form>
                </div>
                
                
            
                
            </div>
        </div>
    </body>
</html>