<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>EditProfile</title>
        <link rel="stylesheet" href="../static/css/ProfilePageStyle.css">
        <script src="https://kit.fontawesome.com/d4b180fb45.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    </head>



    <body>
            <!------Profile section------>
        <div class="profile-page">
            <div class="content">            
                <div class="content__title">
                    <h1>Edit Profile</h1>
                    
                </div>
                
                <div class="card">
                    <div class="card-body">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="row-header">Name</td>
                                    <td>:</td>
                                    <td class="row-data">{{user.name}}</td>
                                </tr>
                                <tr>
                                    <td class="row-header">Email</td>
                                    <td>:</td>
                                    <td class="row-data">{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td class="row-header">Birthday</td>
                                    <td>:</td>
                                    <td class="row-data">{{user.birthdate}}</td>
                                </tr>
                                <tr>
                                    <td class="row-header">Gender</td>
                                    <td>:</td>
                                    <td class="row-data">{{user.gender}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                      
                </div>
                <div>                
                    <i class="fa fa-pen fa-xs edit"></i>
                </div>
                
            
                
            </div>
        </div>
    </body>
</html>