<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/HomePageStyle.css">
    <script src="https://kit.fontawesome.com/d4b180fb45.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--Top Navigation bar for the pages-->
    <div class="Top-Section">
        <!--Need to add proper links to the pages-->
        <div class="Left-side">
            <a class="active" href="/home">
                Home
            </a>
            <a href="/about">
                About
            </a>
            <a href="/summary">
                Summary
            </a>
        </div>
        <div class="Center-side">
            <p>Easy Budget</p>
        </div>
        <div div class="Right-side">
            <a href="/profile">
                Profile
            </a>
        </div>

    </div>

    <!--Expense Tracker section-->
    <div class="container"> 
        <h1>Expense Tracker</h1> 
        
        <div class="SearchBar">
            <form onsubmit="event.preventDefault();" role="search">
                <input id="search" type="search" placeholder="Search..." autofocus required />
                <button type="submit">Go</button>    
            </form>
        </div>



        <form id="expense-form">
            <input type="date" 
                   id="transaction-time" 
                   required/>
            <input type="text" 
                   id="account-name" 
                   placeholder="Account Name" required />
            <input type="text" 
                   id="Merchant-name" 
                   placeholder="Merchant Name" required />
            <select id="Income/Expense" placeholder="Income/Expense" required>
                <option value=""></option>
                <option value="Income">Income</option>
                <option value="Expense">Expense</option>
            </select>
            <input type="text" 
                   id="tag-name" 
                   placeholder="Tag" required />
            <input type="number" 
                   id="expense-amount" 
                   placeholder="Amount" required /> 
            <button type="submit"> 
                Add
            </button> 
        </form> 
        <div class="expense-table"> 
            <table> 
                <thead> 
                    <tr> 
                        <th>Date</th>
                        <th>Account Name</th>
                        <th>Merchant Name</th>
                        <th>Income/Expense</th> 
                        <th>Tag</th> 
                        <th>Amount</th> 
                        <th>Action</th> 
                    </tr> 
                </thead> 
                <tbody id="expense-list"></tbody> 
            </table> 
            <div class="total-amount"> 
                <strong>Total:</strong>  
                $<span id="total-amount">0</span> 
            </div> 
        </div> 
    </div> 

    </div>
</body>



