<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/HomePageStyle.css">

</head>


<body>  

    <div>
        <h1 id="LogoName">Welcome to Easy Budget</h1>
    </div>

    <div class="Actions">
        <button class="StatementActions" id="NewStatement">New Statement</button>
        <button class="StatementActions" id="CurrentStatement">View Current Statement</button>
        <button class="StatementActions" id="PrevStatement">View Previous Statements</button>
    </div>



    <!--Can be changed to an image with a link to another page instead of a button-->
    <button id="ProfileBtn">Profile</button>
</body>

</html>