<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/HomePageStyle.css">
    <script src="https://kit.fontawesome.com/d4b180fb45.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--Top Navigation bar for the pages-->
    <div class="Top-Section">
        <!--Need to add proper links to the pages-->
        <div class="Left-side">
            <a class="active" href="HomePage.html">
                Home
            </a>
            <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fnews.christianacare.org%2F2023%2F05%2Fthe-scoop-on-poop%2F&psig=AOvVaw2OkThjwIYaJKfYnQcTzmQH&ust=1707977043473000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCJCV7biUqoQDFQAAAAAdAAAAABAE">
                About
            </a>
        </div>
        <div class="Center-side">
            <p>Easy Budget</p>
        </div>
        <div div class="Right-side">
            <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fnews.christianacare.org%2F2023%2F05%2Fthe-scoop-on-poop%2F&psig=AOvVaw2OkThjwIYaJKfYnQcTzmQH&ust=1707977043473000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCJCV7biUqoQDFQAAAAAdAAAAABAE">
                Profile
            </a>
        </div>

    </div>

    <!--Expense Tracker section-->
    <div class="container"> 
        <h1>Expense Tracker</h1> 
        
        <div class="SearchBar">
            <form onsubmit="event.preventDefault();" role="search">
                <input id="search" type="search" placeholder="Search..." autofocus required />
                <button type="submit">Go</button>    
            </form>
        </div>



        <form id="expense-form">
            <input type="date" 
                   id="transaction-time" 
                   required/>
            <input type="text" 
                   id="account-name" 
                   placeholder="Account Name" required />
            <input type="text" 
                   id="Merchant-name" 
                   placeholder="Merchant Name" required />
            <select id="Income/Expense" placeholder="Income/Expense" required>
                <option value=""></option>
                <option value="Income">Income</option>
                <option value="Expense">Expense</option>
            </select>
            <input type="text" 
                   id="tag-name" 
                   placeholder="Tag" required />
            <input type="number" 
                   id="expense-amount" 
                   placeholder="Amount" required /> 
            <button type="submit"> 
                Add
            </button> 
        </form> 
        <div class="expense-table"> 
            <table> 
                <thead> 
                    <tr> 
                        <th>Date</th>
                        <th>Account Name</th>
                        <th>Merchant Name</th>
                        <th>Income/Expense</th> 
                        <th>Tag</th> 
                        <th>Amount</th> 
                        <th>Action</th> 
                    </tr> 
                </thead> 
                <tbody id="expense-list">
                    {%for transaction in transactionData%}
                    <tr>
                        <td>{{transaction.tdate}}</td>
                        <td>{{transaction.accountname}}</td>
                        <td>{{transaction.merchant}}</td>
                        <td>{{transaction.incomeOrExpense}}</td>
                        <td>{{transaction.tags}}</td>
                        <td>{{transaction.amount | currencyFormat}}</td>
                        <td><button>Edit</button><button>Delete</button></td>
                    </tr>
                    {%endfor%}
                </tbody> 
            </table> 
            <div class="total-amount"> 
                <strong>Total:</strong>  
                <span id="total-amount">{{total | currencyFormat}}</span> 
            </div> 
        </div> 
    </div> 

    </div>
</body>



