<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href="../static/css/ProfilePageStyle.css">
        <script src="https://kit.fontawesome.com/d4b180fb45.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    </head>



    <body>
        <!------Top Navigation bar for the pages------>
        <div class="Top-Section">
            <!------Need to add proper links to the pages------>
            <div class="Left-side">
                <a href="/home">
                    Home
                </a>
                <a href="/about">
                    About
                </a>
                <a href="/summary">
                    Summary
                </a>
            </div>
            <div class="Center-side">
                <p>Easy Budget</p>
            </div>
            <div class="Right-side">
                <a href="/profile">
                    Profile
                </a>
            </div>

        </div>

            <!------Profile section------>
        <div class="profile-page">
            <div class="content">            
                <div class="content__title">
                    <h1>Profile</h1>
                    
                </div>
                
                <div class="UserInfo"> <!--cannot get it to display???-->
                    <table >
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Sex</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.age }}</td>
                                <td>{{ user.sex }}</td>
                                <td>{{ user.email }}</td>
                            </tr>
                
                        </tbody>
                    </table>
                </div>

                
            </div>
            
        </div>
    </body>





    
<!--     edit profile icon
    <btn id="edit-profile">
        <i class="fa-regular fa-pen-to-square"></i>
    </btn> -->

</html>