<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href="../static/css/ProfilePageStyle.css">
        <script src="https://kit.fontawesome.com/d4b180fb45.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    </head>



    <body>
        <!------Top Navigation bar for the pages------>
        <div class="Top-Section">
            <!------Need to add proper links to the pages------>
            <div class="Left-side">
                <a href="/transact">
                    Home
                </a>
                <a href="/about">
                    About
                </a>
                <a href="/summary">
                    Summary
                </a>
            </div>
            <div class="Center-side">
                <p>Easy Budget</p>
            </div>
            <div class="Right-side">
                <a href="/profile">
                    Profile
                </a>
            </div>

        </div>

            <!------Profile section------>
        <div class="profile-page">
            <div class="content">            
                <div class="content__title">
                    <h1>Profile</h1>
                    
                </div>
                
                <div class="card">
                    <div class="card-body">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="row-header">First Name</td>
                                    <td>:</td>
                                    <td class="row-data">{{user.fname}}</td>
                                </tr>
                                <tr>
                                    <td class="row-header">Last Name</td>
                                    <td>:</td>
                                    <td class="row-data">{{user.lname}}</td>
                                </tr>
                                <tr>
                                    <td class="row-header">D.O.B</td>
                                    <td>:</td>
                                    <td class="row-data">{{fdob}}</td>
                                </tr>
                                <tr>
                                    <td class="row-header">Gender</td>
                                    <td>:</td>
                                    <td class="row-data">{{user.gender}}</td>
                                </tr>
                                <tr>
                                    <td class="row-header">Email</td>
                                    <td>:</td>
                                    <td class="row-data">{{user.email}}</td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                      
                </div>
                <div>                
                    <i class="fa fa-pen fa-xs edit"></i>
                </div>
                
            
                
            </div>
        </div>
    </body>
</html>