<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/summary.css">
    <script src="https://kit.fontawesome.com/d4b180fb45.js" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
    <!--Top Navigation bar for the pages-->
    <div class="Top-Section">
        <!--Need to add proper links to the pages-->
        <div class="Left-side">
            <a class="active" href="{{url_for('index')}}">
                Home
            </a>
            <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fnews.christianacare.org%2F2023%2F05%2Fthe-scoop-on-poop%2F&psig=AOvVaw2OkThjwIYaJKfYnQcTzmQH&ust=1707977043473000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCJCV7biUqoQDFQAAAAAdAAAAABAE">
                About
            </a>
            <a href="{{url_for('summary')}}">
                Summary
            </a>
        </div>
        <div class="Center-side">
            <p>Easy Budget</p>
        </div>
        <div div class="Right-side">
            <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fnews.christianacare.org%2F2023%2F05%2Fthe-scoop-on-poop%2F&psig=AOvVaw2OkThjwIYaJKfYnQcTzmQH&ust=1707977043473000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCJCV7biUqoQDFQAAAAAdAAAAABAE">
                Profile
            </a>
        </div>
    </div>
    <div class="container">
        <div class="table-wrapper">
            <div id="summary-table-section">
                <p>Transaction Summary for the Last Month</p>
                <p>Accounts: {{numAccounts}}</p>
                <div class="summary-table"> 
                    <table> 
                        <thead> 
                            <tr> 
                                <th>Account</th>
                                <th>Income</th>
                                <th>Expense</th>
                                <th>Total</th> 
                            </tr> 
                        </thead> 
                        <tbody id="summary-list">
                            {%for account in accountIncomeExpense%}
                            <tr>
                                <td>{{account.accountname}}</td>
                                <td>{{account.income | currencyFormat}}</td>
                                <td>{{account.expenses | currencyFormat}}</td>
                                <td>{{account.total | currencyFormat}}</td>
                            </tr>
                            {% endfor %}
                            {%if total.total==None or total.total>=0%}
                            <tr id="total-row" style="background-color: LimeGreen">
                                <td>Total: </td>
                                <td>{{total.income | currencyFormat}}</td>
                                <td>{{total.expenses | currencyFormat}}</td>
                                <td>{{total.total | currencyFormat}}</td>
                            </tr>
                            {%else%}
                            <tr id="total-row" style="background-color: #ff2929">
                                <td>Total: </td>
                                <td>{{total.income | currencyFormat}}</td>
                                <td>{{total.expenses | currencyFormat}}</td>
                                <td>{{total.total | currencyFormat}}</td>
                            </tr>
                            {%endif%}
                        </tbody> 
                    </table> 
                </div> 
            </div>
            <div id="summary-top-10-table-section">
                <p>Largest Expenses for the Last Month</p>
                <div class="summary-table">
                    <table> 
                        <thead> 
                            <tr> 
                                <th>Date</th>
                                <th>Account Name</th>
                                <th>Merchant Name</th>
                                <th>Tag</th> 
                                <th>Amount</th>  
                            </tr> 
                        </thead> 
                        <tbody id="expense-list">
                            {%for transaction in topTenExpenses%}
                            <tr>
                                <td>{{transaction.tdate}}</td>
                                <td>{{transaction.accountname}}</td>
                                <td>{{transaction.merchant}}</td>
                                <td>{{transaction.tags}}</td>
                                <td>{{transaction.amount | currencyFormat}}</td>
                            </tr>
                            {%endfor%}
                        </tbody> 
                    </table> 
                </div>
            </div>
        </div>
    <div id="tag-graph"></div>
    </div>
    <script type="text/javascript">
        var tagExpenses=[];
        var tags=new Set();
        {%for transaction in tagExpenses%}
            tagExpenses.push(["{{transaction[0]}}", Math.abs({{transaction[1]}})]);
            tags.add("{{transaction[0]}}");
        {%endfor%}
        const height=500;
        const width=500;
        const margin={"top":50,"right":30,"bottom":50,"left":30};
        const xMax=d3.max(tagExpenses.map(transaction=>transaction[1]))
        const graph=d3.select("#tag-graph").append("svg").attr("width", width).attr("height", height).style('margin',10);
        const x=d3.scaleBand().domain(tags).range([margin.left,width-margin.right]).padding(0.3);
        const y=d3.scaleLinear().domain([0,xMax]).range([height-margin.bottom,margin.top]);
        console.log(tagExpenses[0][0]+" "+x(tagExpenses[0][0])+", "+tagExpenses[0][1]+" "+y(tagExpenses[0][1])+ " " +xMax);

        graph.append('text').text('Expenses per Tag').attr('x',width/2).attr('y',15).attr("fill", "currentColor").style('font-size',20);

        //bars
        graph.selectAll('rect').data(tagExpenses).enter().append('rect').attr('x',(d,i)=>x(d[0])).attr('y',(d,i)=>y(d[1])).attr('width',x.bandwidth()).attr('height', (d,i)=>y(0)-y(d[1])).attr('fill','green');

        //x axis
        graph.append("g").attr("transform","translate(0,"+(height-margin.bottom)+")").call(d3.axisBottom(x))
            .call(g => g.append("text")
                .attr("x", width/2)
                .attr("y", 40)
                .attr("fill", "currentColor")
                .attr("text-anchor", "start")
                .style('font-size',15)
                .text("Tag"));

        //y axis
        graph.append("g").attr("transform","translate("+margin.left+",0)").call(d3.axisLeft(y))
            .call(g => g.append("text")
                .attr("x", -margin.left)
                .attr("y", 35)
                .attr("fill", "currentColor")
                .attr("text-anchor", "start")
                .style('font-size',15)
                .text("$ Spent"));

    </script>
</body>
</html>


